version: 2
jobs:
  build_docker:
    working_directory: ~/project
    # In order to use mount commands with docker, we need to use the machine
    # executor rather than use setup_remote_docker
    machine:
      image: ubuntu-2004:202107-02
    # docker:
    #   - image: circleci/python:3.7
    #   - image: docker:18.06.0-ce-git
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip3 install packaging requests
      - run:
          name: Check versions
          command: export TERM=xterm && python3 check_versions.py > versions.txt && git diff versions.txt | cat && git checkout versions.txt
      - run:
          name: Remove existing wheels
          command: rm -f wheels/*
      - run:
          name: Ready the gh-pages area
          # We could checkout the gh-pages branch instead
          command: mkdir -p gh-pages
      # - setup_remote_docker
      - run:
          name: Build the Docker
          command: export TERM=xterm && ./build.sh
      - store_artifacts:
          path: ~/project/wheels
      - run:
          name: Show build times
          command: export TERM=xterm && ./duration_summary.py recent
      - run:
          name: Install pv
          command: |
            sudo apt-get update
            sudo apt-get install -y pv
      - run:
          name: Archive docker image
          # This took > 15 minutes on my machine.  Adding pv provides some
          # output so circle won't timeout
          command: docker save girder/large_image_wheels:latest | pv > liw_docker.tar
      - store_artifacts:
          path: ./liw_docker.tar
      - run:
          name: Test wheels via Docker
          command: python test_via_docker.py
      # Upload artifacts to github (or elsewhere)
      # Copy wheels to the gh-pages branch; update index.html; force push
      # the gh-pages branch if this is merge to master

workflows:
  version: 2
  build_all:
    jobs:
      - build_docker
